<!DOCTYPE html>
<html>  
    <head>
        <title>CSRF Account</title>
        <%- include('partials/header') %>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
       
    </head>
    <body>
        <div class="container">
            <%- include('partials/csrfdesc')%>
            <div class="text-center">
                <div class="container" style="margin: 20px; border: 1px solid black;">
                    <h6 class="lead"> <%= results.name %></h6>
                    <h6 class="lead">Stanje računa: <%= results.account_balance %></h6>
                </div>
            </div>
        </div>
    </body>
</html>
                
