<h1 class="text-center my-5">CSRF</h1>
Ovdje vidimo primjer CSRF napada, tj. lažiranje zahtjeva na drugom sjedištu. Preglednik žrtve šalje naredbu ranjivoj web aplikaciji. Tipično se koristi za iniciranje transakcija, pristupa podatcima i slično. CSRF napad može se izvesti u GET i POST zahtjevima. Ovdje će se koristiti GET zahtjev.
<div><b>Upute:</b> Kod demonstracije ovog napada imat ćemo 3 aktera. Đuro, Pero i Lopuža. Stavite se u kožu Đure. Želite svome prijatelju Peri prebaciti vrijednost 100 neke valute. Prikaz bankovnog računa pojedinca dan je niže (ovdje bi se narušavala nesigurna pohrana (prikaz) osjetljivih podataka da su stvarni računi, narušio bi se i GDPR, ali ovdje je tu za primjer takav prikaz). <div>
<div>Lopuža će pokušati CSRF napadom uzeti tu valutu. Lopuža radi sljedeći URL: <b><%= baseURL %>/transferfunds?acc=Lopuža&amount=1000. Učitavanjem ili klikom na taj link šalje se GET zahtjev kojim će Lopuža dobiti novac. To će biti moguće jer je korisnik već prijavljen u sustav u svom pregledniku, tj. postoji kolačić sa sessionID-em. Ovdje je, naravno samo zbog demonstracije</b></div>
<div>Za prijavu u račun (uzmite Đuro račun; za prijavu je username <b>Đuro</b>, a password <b>12345</b>).</div>
<div>Nakon logina, stvorena je Đurina sjednica. Radi jednostavnosti, ovaj "sustav" nema mogućnost "normalnog" prebacivanja sredstava. Dok je Đuro prijavljen se, otvaranjem gore navedenog linka skidaju sredstva s Đurinog i uplaćuju na Lopužin račun.</div>
<div>
    <% if (session) { %>
        <form action="/csrf/logout" method="POST">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
    <% } %>
</div>
<div><b>Zaštita:</b> Označavanjem checkboxa se radi validacija i sanetizacija unosa te parametrizacija unosa. Također se ne ispisuju detalji o greškama.</div>
<hr>

