<!-- FILEPATH: /c:/Users/Ivan/Documents/FER/1. semestar/web2/lab/WEB2-drugi_projekt/src/views/partials/header.ejs -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Web2 - Drugi projekt</a>
    <div class="" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/sql">SQL umetanje</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/csrf">CSRF</a>
            </li>
        </ul>
    </div>
</nav>
